
html {
	background-color:black;
	background: url(../img/cloudy.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	overflow:hidden;	
	background-color: ;
}

#date {
	font-family: sans-serif;
	font-size: 14px;
	color: black;
}

#cloudybackground {
	background-color:black;
	background: url(../img/cloudy.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	overflow:hidden;	
	background-color: black;
}

#sunnybackground {
	background-color:black;
	background: url(../img/sunny.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	overflow:hidden;	
	background-color: ;

}

#rainybackground {
	background-color:black;
	background: url(../img/rainy.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	overflow:hidden;	
	background-color: ;
}

#thunderbackground {
	background-color:black;
	background: url(../img/thunder.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	overflow:hidden;	
	background-color: ;
}

#fnumber {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 50px;
	padding-top: 40%;
	text-align: center;
}

#displayweather {
	width: 400px;
	height: 700px;
	margin-right: 5%;
	margin-left: 5%;
	background-color: white;
}

.letter {
	color: black;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
	padding-right: 35px;
}

.weekday {
	float:left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
	clear:both;
	text-align: center;
	font-weight: bold;
	background-color: bisque;
	bottom: 0px;
}

#cityName {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 30px;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: left;
	padding-left: 10px;
}

#forecast {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 20px;
	padding-top: 1%;
	padding-bottom: 3%;
	text-align: left;
	padding-left: 10px;
}

#date {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;	
	color: black;
}

#zipBox {
	padding-left: 20%;
	font-family: sans-serif;
	color: black;
}

#button {
	border-style: none;
	font-size: none;
	border-radius: none;
	font-size: none;
	padding: none;
	text-align: center;
	width: 205px;
	height: 40px;
}
.sendbutton {
	padding-top: 10px;
	padding-left: 20%;	
}
input, textarea {
	position: relative;
	text-align: center;
	font-color: gray;
	color: gray;
	outline: none;
	border: 2px solid gray;
	font-size: 16px;
	padding: 0.6rem;
	box-sizing: border-box;
	border-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}



#weathericons {
	color: black;
	float:left;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	margin-right: 12px;
	margin-top: 12px;
	font-family:sans-serif;
	/*outline: 1px solid white;*/
	width:20px;
	height:20px;
}


#icon {
	color: black;
	float:left;
	padding: 25px;
	margin-right: 5px;
	align-content: stretch;
	clear:both;
}